.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px 0 10px;
  height: 100%;
}

.search-box {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  background-color: #f0f0f0f0;
  outline: none;
  border: unset;
}

@media screen and (max-width: 425px) {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 625px) and (min-width: 425px)  {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 850px) and (min-width: 625px)  {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 850px) {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    height: 100%;
  }
}

.nav-btns-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btns-container button {
  background-color: unset;
  border: unset;
  color: darkblue;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}